.nav-wrap-all {
  position: relative;
  height: auto;
  background-color: #3e98f0;
  z-index: 10;
  .nav {
    overflow: hidden;
    position: relative;
    .all-menus-title {
      position: relative;
      line-height: 1rem;
      color: #fff;
      font-size: 0.4rem;
      text-align: left;
      padding-left:1rem;
      border-top: 1px solid rgba(255, 255, 255, 0.6);
    }
    .more-menus {
      position: absolute;
      top: 6px;
      right: 0;
      background-color: rgb(62, 152, 240);
      width: 0.9rem;
      height: 0.9rem;
      box-sizing: border-box;
      .more-icon {
        line-height: 1rem;
      }
    }
    .nav-menus {
      display: flex;
      display: -webkit-flex;
      flex-flow: row wrap;
      background-color: rgb(62, 152, 240);
      border-top: 1px solid rgba(255, 255, 255, 0.6);
      .nav-item {
        line-height: 1rem;
        font-weight: 200; // flex: 0;// flex-grow:1(平均分配剩余空间);flex-shrink:1（如果空间不足项目缩小）;flex-basis:auto; 平均分配剩余空间
        flex: 0 0 20%; //flex-grow:0(有剩余空间也不放大)；flex-shrink:0（空间不足也不缩小） flex-basis:20%;项目占据的固定空间
        .active {
          color: #fff;
          font-weight: 500;
        }
        a {
          font-size: 0.4rem;
          color: #fff;
        }
      }
    }
  }
}
